name: 'unfiles-redcatpictures-dev'
# name: 'unfiles-goldfishtalents-dev'

services:
  app:
    build: .
    # restart: on-failure:3
    env_file:
      - .env.prod.redcatpictures
      # - .env.prod.goldfishtalents
    volumes:
      - static:/app/static
      - data:/app/.data
    ports:
      - '3500:3000'
      # - '3600:3000'
      # cpus: '16' # limit to 0.4 CPU
      # mem_limit: 4056M # hard memory cap
      # mem_reservation: 512M # soft memory reservation

volumes:
  static:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./static/red-cat-pictures
      # device: ./static/gold-fish-talents

  data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.data
